#Purchase {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  background: linear-gradient(to bottom, #222222, #333333);
}

#Purchase .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: center;
  background-color: #111;
  border-radius: 8px;
  flex: 1;
  padding: 2em;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}

#Purchase .purchase-screen {
  border: 2px solid #28a745;
  padding: 1em;
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 2em;
  background: rgba(255,255,255,0.1);
  border-radius: 8px;
}

#Purchase .user-input {
  flex: 2;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-right: 2px dashed #555;
}

#Purchase .user-input h3 {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1rem;
  color: #ccc;
}

#Purchase .input-fields {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
}

#Purchase .input-fields input {
  padding: 0.5em;
  border: 1px solid #555;
  background: #222;
  color: #fff;
  border-radius: 4px;
}

#Purchase .input-name {
  width: 100%;
  display: flex;
  gap: 0.5em;
}

#Purchase .input-name * {
  flex: 1;
}

#Purchase .input-creditCard {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#Purchase #creditCardType {
  width: 15%;
  background-color: #28a745;
  padding: 0.3em;
  color: white;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #fff;
}

#Purchase #input-creditCardNumber {
  flex: 75%;
}

#Purchase #input-ccv {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid white;
}

#Purchase .info {
  flex: 1;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px dashed #555;
}


#Purchase .info h3 {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1rem;
  color: #ccc;
}

#Purchase .info .item-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center; 
}

#Purchase .info .item-name {
  font-size: 1.2em;
  font-weight: bold;
}

#Purchase #submit {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  background-color: #28a745;
  color: white;
  margin-top: auto;
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
}

#Purchase #submit:hover {
  background-color: #ddd;
  color: #333;
}

#Purchase .total-highlight {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #28a745;  /* Highlight color matching the submit button */
  margin-top: 14em;  /* Space above and below */
  padding: 0.5em;
  background-color: rgba(40, 167, 69, 0.1);  /* Soft background for emphasis */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}