#BecomeHost .overall-container {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

#BecomeHost .become-host-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff; /* Adds background color for emphasis */
}

#BecomeHost .title {
    font-size: 24px;
    margin-bottom: 20px;
}

#BecomeHost .highlight {
    color: #f0b429;
    font-weight: bold;
}

#BecomeHost .description {
    margin-bottom: 20px;
    font-size: 16px; /* Ensuring readability */
}

#BecomeHost .price-info {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

#BecomeHost .become-host-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Adds rounded corners for aesthetics */
}

#BecomeHost .become-host-btn:hover {
    background-color: #45a049; /* Darker shade on hover for interaction feedback */
}
