#Signup body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#Signup .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/abstract-digital-grid-vector-black-background_53876-111550.avif");
}

#Signup .container-center {
  background-image: url("./assets/abstract-digital-grid-vector-black-background_53876-111550.avif");
  border-radius: 6px;
  width: 400px;
  padding: 20px;
  border: 1px solid whitesmoke;
}

#Signup .container-center h2 {
  color: #03fcff;
  text-align: center;
  margin-top: 0;
}

#Signup .container-center p {
  color: white;
  font-size: small;
  margin: 10px 0;
}

#Signup .container-center input[type="text"],
#Signup .container-center input[type="password"] {
  margin-bottom: 10px;
  border: 2px solid #8c8888;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  width: calc(100% - 10px);
  height: 25px;
  background-color: aliceblue;
  padding: 5px;
}

#Signup .container-center input[type="checkbox"] {
  margin-top: 10px;
  margin-right: 5px;
  background-color: aliceblue;
  
}

#Signup #rememberPassword {
  color: whitesmoke;
  font-size: small;
}

#Signup .error {
  color: red;
  text-align: center;
  font-size: small;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 10px;
}

#Signup input[type="submit"] {
  background-color: whitesmoke;
  margin-top: 15px;
  border-radius: 5px;
  font-size: small;
  color: gray;
  width: calc(100% - 10px);
  border: none;
  height: 35px;
  cursor: pointer;
}

#Signup input[type="submit"]:hover {
  background-color: #03fcff;
}

#Signup a {
  color: whitesmoke;
}

#Signup #account{
  color: whitesmoke;
}