#Team {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
}

#Team #main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: center;
  background-color: black;
  flex: 1;
}

#Team #suggest {
  border: 2px solid white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#Team #suggest .form {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-between;
}

#Team #suggest .form button {
  width: 60pt;
  color: var(--color-tertiary);
  font-family: inherit;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 2px;
}

#Team #suggest form button:hover {
  cursor: pointer;
}

#Team #suggest form label {
  flex: 1;
}

#Team #suggest h2 {
  margin-bottom: 0.3em;
  color: var(--color-tertiary);
}

#Team #display {
  padding: 2em;
  width: 100%;
  min-height: 100%;
}

#Team #display h1 {
  margin-bottom: 0.5em;
}

#Team .teams {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  padding: 0.5em;
}

#Team .team {
  background-color: black;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  gap: 0.3em;
  height: 120px;
  justify-content: space-between;
}

#Team .team .name {
  text-align: center;
  user-select: none;
  color: var(--color-tertiary);
}

#Team .team a {
  text-decoration: none;
  color: unset;
}

#Team .team .view {
  user-select: none;
}

#Team .team .view:hover {
  cursor: pointer;
}