.search_icon {
  width: 16px;
  height: 16px;
}

.banner img {
  width: 400px;
  border: 6px solid rgb(30, 6, 30);
}

.banner p{
  color: white;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.about {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  gap: 2em;
}

.about h1{
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;

}

.about p{
  color: white;
  font-size: 20px;
  font-weight: normal;
}

.about .slogan {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.banners {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}