#nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 6px 4px -4px black;
}

#logo-nav {
  height: 75px;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
}

#nav a {
  text-decoration: none;
}