:root {
  font-family: Raleway;
  font-size: 14px;
}

@font-face {
  font-family: Raleway;
  src: url('/src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}