#Tournament {
  height: 100%;
}

#Tournament .loadingText {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Tournament .tournament-container {
  background-color: black;
  /* border: 1px solid #ddd; */
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: row;
  height: calc(100% - 50pt);
}

#Tournament .tournament-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1em;
  box-shadow: 1px 0px 2px 0px rgb(255, 255, 255, 0.3);
  font-size: 1.5rem;
}

#Tournament .tournament-title {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--color-tertiary);
  margin-bottom: 5px;
}

#Tournament .tournament-description {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}

#Tournament .tournament-specs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: white;
  font-size: 0.7em;
}

#Tournament .hasStarted {
  color: var(--color-green);
  text-align: center;
}

#Tournament .btn {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#Tournament .btn:hover {
  background-color: #ddd;
}

#Tournament .btn-manage {
  background-color: #eee;
  color: #666;
}

#Tournament .btn-primary {
  background-color: #28a745;
  color: #fff;
}

#Tournament .btn-secondary {
  background-color: #ddd;
  color: #666;
}

#Tournament .tournament-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#Tournament .brackets,
#Tournament .battle-royale {
  background-color: #eee;
  padding: 15px;
  border-radius: 5px;
  color: #666;
  height: 82%;
  overflow-y: auto;
}

#Tournament .tournament-actions {
  display: flex;
  justify-content: flex-end;
}

#Tournament .tournament-updates {
  padding: 0.5em;
  height: 18%;
  font-size: 14px;
  color: #999;
  overflow-y: auto;
  /* font-style: italic; */
}