.brackets {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  background: #f4f4f4;
}

.round {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.match {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.competitor {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.competitor:hover {
  background-color: #1b8a35;
  color: #333;
}

.connector {
  position: absolute;
  width: 2px;
  background-color: #000;
  bottom: 50%;
  right: -20px;
  height: calc(100% + 40px);
}

.connector::before,
.connector::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.connector::before {
  top: 0;
}

.connector::after {
  bottom: 0;
}

.team-user-list-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 320px;
  border-radius: 10px;
  color: #333;
}

.team-user-list-popup h2 {
  color: #333;
  font-size: 22px;
}

.team-user-list-popup ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.team-user-list-popup li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.team-user-list-popup button {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.team-user-list-popup button:hover {
  background-color: #1b8a35;
}
