#Tournaments #sidebar {
  background-color: var(--color-primary);
  color: white;
  height: calc(100vh - 50pt);
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

#Tournaments #searchbar {
  padding: 0.6em;
  width: 100%
}

#Tournaments #searchbar:focus {
  outline: none;
}

#Tournaments .filters-header {
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}

#Tournaments #filter-category-input {
  padding: 0.6em;
  width: 100%
}

#Tournaments #filter-category-input:focus {
  outline: none;
}

#Tournaments #category-search-results {
  background-color: black;
  border: 2px solid green;
  width: calc(30% - 2em);
  
  max-height: 200pt;

  overflow-y: auto;
  position: absolute;
  
  display: none;
  color: black;
}

#Tournaments #category-search-results::after {
  display: none;
}

#Tournaments .category-search-result {
  background-color: black;
  height: 75pt;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#Tournaments .category-search-result:hover {
  cursor: pointer;
  background-color: rgb(34, 34, 34);
}

#Tournaments .category-search-result-img {
  height: 100%;
  width: 50pt;
}

#Tournaments .category-search-result-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#Tournaments .category-search-result>p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-tertiary);
  flex: 1;
  text-align: center;
  font-size: 1.2em;
}

#Tournaments .active-category {
  background-color: rgb(34, 34, 34);
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: black; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#Tournaments #filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  user-select: none;
  flex: 1;
}

#Tournaments .filter .name {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 0.2e;
}

#Tournaments .radio {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#Tournaments .radio-item {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  justify-content: center;
  align-items: center;
  height: 1em;
}

#Tournaments .valueDisplay {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#Tournaments .valueDisplay>* {
  display: flex;
  flex-direction: row;
  gap: 0.1em;
  justify-content: center;
  align-items: center;
}

#Tournaments .valueDisplay input {
  width: 4em;
}