#sidebar {
  background-color: blueviolet;
  height: calc(100vh - 50pt);
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

#search {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 30px;
}

#searchbar {
  padding: 0.6em;
  display: flex;
  width: 80%;
}

#searchbar:focus {
  outline: none;
}

#search button {
  width: 20%;
  background: #2196F3;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search button:hover {
  background: #0b7dda;
}

.filters-header {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}

/* DROPDOWN */

.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 140px;
  height: 30px;
  background-color: white;
}

.select:hover {
  cursor: pointer;
}

.selected {
  flex-basis: 80%;
  border: 2px solid black;
  user-select: none;
  padding: 0.2em;
  display: flex;
  align-items: center;
}

.select .imgContainer {
  flex-basis: 20%;
  border: 2px solid black;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select img {
  width: 100%;
  max-width: 100%;
}

.menu {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  width: 140px;
  border: 2px solid black;
  border-top: none;
}

.menu li:hover {
  cursor: pointer;
  background-color: rgb(229, 229, 229);
}

.menu li {
  height: 30px;
  user-select: none;
  padding: 0.2em;
  display: flex;
  align-items: center;
}

.active {
  background-color: rgb(205, 205, 205);
}